#!/usr/bin/bash

# nav
alias ls='ls --color=auto'
alias .='ls .'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'

# default flags
alias python='python -q'
alias cp='cp -i'
alias du='du -h'
alias df='df -h'
alias mv='mv -i'
alias free='free -h'
alias mkdir='mkdir -p'
alias emacs='emacs -nw'
alias less='less -R'
alias psql='psql -S'

# git aliases
alias gad='git add'
alias gimit='git commit'
alias gamend='gimit --amend --no-edit'
alias ginit='git init'
alias gist='git status'
alias gout='git checkout'
alias hist='git hist'
alias gidif='git diff'
alias hista='git hista'
alias save='git stash save'
alias gh="clone-github"
alias dg="clone-drivergroup"

# forgetting to type 'git'
alias push='git push'
alias pull='git pull'
alias fetch='git fetch'
alias merge='git merge'
alias clone='git clone'
alias commit='git commit'
alias stash='git stash'
alias rebase='git rebase -i'

# wifi.
alias wup='sudo ip link set $IW_INTERFACE up'
alias wdn='sudo killall wpa_supplicant; sudo ip link set $IW_INTERFACE down'
alias wpa_supplicant='wpa_supplicant -i $IW_INTERFACE'
alias wpa='sudo wpa_supplicant -c /etc/wpa_supplicant/default.conf -B'
alias wlan='sudo iw dev $IW_INTERFACE'
alias wfnd='wlan scan | grep -i ssid'
alias wcon='wlan connect'
alias wpatemp='sudo wpa_supplicant -c temp.conf'

# pass through aliases
alias sudo='sudo '
alias man='man '
alias watch='watch '

# configuration
alias us='setxkbmap us'
alias =' ; stty erase '
alias pt='sudo ln -sf /usr/share/zoneinfo/US/Pacific /etc/localtime'
alias et='sudo ln -sf /usr/share/zoneinfo/America/New_York /etc/localtime'
alias mt='sudo ln -sf /usr/share/zoneinfo/America/Boise /etc/localtime'

# pseudo-functions
alias pom='sleep 25m && systemctl suspend'
alias take='mv ~/downloads/* .'
alias dv='setxkbmap -layout dvorak -option ctrl:nocaps; stty erase ; exit'
alias ek=dv
alias docker-default-postgres='docker run -it -d -p 5432:5432 -e POSTGRES_USER=postgres -e POSTGRES_DB=postgres -e POSTGRES_PASSWORD=postgres postgres'
alias REPLesent='scala -Dscala.color -language:_ -nowarn -i REPLesent.scala'
alias touchpad-toggle='source ~/bin/touchpad-toggle'
alias pingc='watch ping -c 1 8.8.8.8'
alias service-sources='find github.com/drivergroup/*-service/src/*/scala -name "*.scala"'
#alias bt='sudo hciconfig hci0 up; sudo hcitool cc 90:7F:61:2C:10:F5'
alias sus='systemctl suspend'
alias ec='emacsclient -nw'
alias xt='xterm & disown -r'

# to be sorted
alias xrdb-reload='(cd ~; xrdb -I.Xresources.d .Xresources)'
