#!/usr/bin/bash

# default flags
alias ls='ls --color=auto'
alias python='python -q'
alias cp='cp -i'
alias du='du -h'
alias df='df -h'
alias mv='mv -i'
alias rm='rm -i'
alias free='free -h'
alias mkdir='mkdir -p'
alias less='less -R -S -# .1'
alias psql='psql -S'
alias gzip='gzip -k'
alias feh='feh -F'
alias sbt='sbt -Dsbt.semanticdb=true -mem 2048' # double the default of 1024

# git aliases
alias gad='git add'
alias gimit='git commit'
alias gamend='gimit --amend --no-edit'
alias ginit='git init'
alias gist='git status'
alias hist='git hist'
alias gidif='git diff'
alias hista='git hista'
alias save='git stash save'
alias gh="clone-github"

# WiFi
alias wup='sudo ip link set $IW_INTERFACE up'
alias wdn='sudo ip link set $IW_INTERFACE down'
alias wpa_supplicant='wpa_supplicant -i $IW_INTERFACE'
alias wpa='sudo wpa_supplicant -c /etc/wpa_supplicant/default.conf -B'
alias wlan='sudo iw dev $IW_INTERFACE'
alias wscan='wlan scan | grep "\sSSID:" | cut -d : -f 2 | sort | uniq'
alias wcon='wlan connect'
alias wpatemp='sudo wpa_supplicant -c temp.conf'
alias macchanger='macchanger $IW_INTERFACE'
alias macchangera='wdn && sudo macchanger -a && wup'

# pass-through aliases
alias sudo='sudo '
alias man='man '
alias watch='watch -n 0.5 -c '
alias xargs='xargs '
alias slock='slock '
alias d='disown-background-command '

# configuration
alias us='setxkbmap us'
alias =' ; stty erase '
alias tzpt='sudo ln -sf /usr/share/zoneinfo/US/Pacific /etc/localtime'
alias tzet='sudo ln -sf /usr/share/zoneinfo/America/New_York /etc/localtime'
alias tzmt='sudo ln -sf /usr/share/zoneinfo/America/Boise /etc/localtime'

# pseudo-functions
alias pom='sleep 25m && systemctl suspend'
alias take='mv ~/downloads/* .'
alias dv='setxkbmap -layout dvorak -option ctrl:nocaps; stty erase ; exit'
alias ek=dv
alias docker-default-postgres='docker run -it -d -p 5432:5432 -e POSTGRES_USER=postgres -e POSTGRES_DB=postgres -e POSTGRES_PASSWORD=postgres postgres'
#alias REPLesent='scala -Dscala.color -language:_ -nowarn -i REPLesent.scala'
alias pingc='watch ping -c 1 8.8.8.8'
alias sus='systemctl suspend'
alias em='d emacs'
alias ec='emacsclient -c -n'
alias et='emacsclient -t'
alias ecs='emacsclient -c -n -s'
alias ets='emacsclient -t -s'
alias xt='d xterm'
alias st='d command st -e dvtm'
alias ut='d urxvt'

# to be sorted
alias xrdb-reload='(cd ~; xrdb -I.Xresources.d .Xresources)'
alias tl="task-local"
alias task="task rc:~/.taskrc_global"
alias ecs='ec --alternate-editor= -s'
alias vlc='rvlc'
alias bt='bluetoothctl'
alias bton='bluetoothctl power on'
alias cgrep='grep --color=always'
alias scala-sources='git ls-files | grep scala\$'
alias scala-grep='scala-sources | xargs cgrep'
alias sc='scala -howtorun:script -savecompiled'
