#!/usr/bin/bash

clone-github () {
    local -r user_repo=$(sed -e "s|.*github.com/||" <<< $1)
    local -r dest="$HOME/github.com/$user_repo"
    if [[ -e $dest ]]; then
	echo "$dest already exists"
	echo "cd -- $dest"
	cd $dest
	return 1
    else
	git clone "git@github.com:$user_repo.git" $dest\
	    && cd $dest
    fi
}

clone-drivergroup () {
    local -r repo=$(sed -e "s|.*github.com/drivergroup/||" <<< $1)
    clone-github "drivergroup/$repo"\
	&& git config --local user.email 'stewart@driver.xyz'
}

task-init () {
    if [[ (-e .taskrc) ]]; then
	echo "Taskwarrior config already exists"
    else
	cat > .taskrc <<-EOF
	include ~/.taskrc_global
	data.location=
	exit.on.missing.db=yes
	EOF
	task-local rc.exit.on.missing.db=no > /dev/null 2>&1
    fi
}

task-local () {
    local dir=$(pwd -P)
    while [[ ($HOME < $dir) && ! (-f $dir/.taskrc) ]]; do
	dir=$(dirname $dir)
    done
    declare -r dir
    if [[ $HOME < $dir ]]; then
	local -r taskrc="$dir/.taskrc"
	local -r taskdata="$dir/.task"
	TASKDATA=$taskdata TASKRC=$taskrc task $@
    else
	task rc:~/.taskrc_global $@
    fi
}

disown-background-command () {
    eval $@ > /dev/null & disown $!
}

scala-typedef () {
    git ls-files | grep scala\$ | xargs egrep --color=always "(class|trait|type) $1"
}

scala-termdef () {
    git ls-files | grep scala\$ | xargs egrep --color=always "(val|var|def|object) $1"
}

scala-def () {
    git ls-files | grep scala\$ | xargs egrep --color=always "(val|var|def|object|class|trait|type) $1"
}
